.sidebar {
  height: 100%;
  width: 300px;
  position: fixed;
  top: 0;
  right: -300px;
  background-color: #e7eef5;
  color: #fff;
  transition: 0.3s;
  padding-top: 60px;
  z-index: 1045;
}

.sidebar.active {
  right: 0;
}

.sidebar .close-btn {
  position: absolute;
  top: 10px;
  left: 15px;
  color: #fff;
  font-size: 24px;
  cursor: pointer;
}

.content {
  margin-right: 0;
  transition: margin-right 0.3s;
}

.content.shifted {
  margin-right: 300px;
}
